*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
*.lock
*.log
*.idea*
.ghc.environment.*
.hpc
.hsenv
.cabal-sandbox/
.stack-work/
.HTF/
dist-*
dist
cabal-dev
cabal.sandbox.config
cabal.project.local
cabal.project.local~
/.idea/
/.htaccess
/.user.ini
/vendor/
/others/

# Semantic version script itself is @internal thing and should be excluded from the root commits
/semantic-version.php
